
<ul class="listcontent">
{loop $tags $i $t}

<li lat="34.1608" lon="118.7572" sg="8">
	<p>
		<a href="{$t[linkurl]}" target="_blank">
			<img src="{$t[thumb]}" alt="{$t[title]}">
		</a>
	</p>
	<h3>
                            <span class="text_link">
                                <span class="depict">
                                    <a href="{$t[linkurl]}" target="_blank">{$t[title]}</a>                                </span>
                                <span class="info" style="background:none;">
                                    <a href="{userurl($t[username])}" title="{$t[company]}" rel="nofollow">{$t[company]}</a>                                </span>
                            </span>
		<span class="price">¥{$t[price]}</span>
	</h3>
</li>
{/loop}
</ul>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}