body {
    font-size: 12px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    background: #fff;
}

.carticle_content{width:1001px; overflow: auto; margin: 0 auto;}
.carticle_item{float: left; position: relative; width:324px; height: 530px;}
.carticle_item h1,.carticle_item h2{background: #ECF5E0;height:36px;line-height: 36px;width: 310px;color: #035f40;font-size: 14px;border:1px solid #ccddb2;padding-left: 15px;}
.carticle_item h1 span, .carticle_item h2 span {font-weight: 100;}

.carticle_item_info{border:1px solid #ccddb2;border-top: none; padding: 10px; width: 305px; height: 450px; line-height: 25px;text-align: left;}
.carticle_item_info span {font-family: Arial;}
.carticle_item_info li{height:25px; overflow:hidden;}
.mar_l {margin-left: 10px;}
.mar_r {margin-right: 10px;}
.carticle_item_head a{
    font-weight: bold;
}
.carticle_item_head span a{
    font-weight: normal;
}

carticle_item_info ul{
    margin-top: 15px;
}

.gleft {
    float: left;
}

.gright {
    float: right;
}
.ca-row:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
}
.ca-span {
    float: left;
}

.ca-desc {
    padding-left: 10px;
    width: 190px;
    margin-right: 0px;
}
.ca-title {
    height: 21px;
    overflow: hidden;
    padding-bottom: 5px;
    color: #035F40;
}

a:hover {
    color: #257104;
    text-decoration: underline;
}



