body {
    font-size: 12px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    background: #fff;
}
#wrapper{ width:1003px; height:auto; zoom:1; overflow:hidden; margin:0 auto;}
/*---楼层---*/
.linebox{ width:1003px; height:auto; overflow:hidden; margin-top:15px;}
.floor-left{ width:205px; float:left;overflow:hidden; }
.floor-box{ width:594px; float:left;overflow:hidden; }
.floor-right{ width:204px; float:left;overflow:hidden; }

.huamushop .shoptop{
    width: 1001px;height: 56px;background: url(images/huam_top.jpg);
}

#huamuyunshu {
    width: 982px;
    height: 453px;
    margin: 0 auto;
}
#huamuyunshu a{
    display: block;
    width: 150px;
    height: 93px;
    margin-left: 10px;
    float: left;
    margin-top: 15px;
    border: 1px solid  #87c77c;
}
#huamuyunshu a:hover{
    text-decoration:none;
}
#huamuyunshu li{
    padding-left: 5px;
    padding-top: 5px;
}
#huamuyunshu .yunshuren{
    color: #12951b;
    font-size: 16px;
    font-weight: bold;
}
#huamuyunshu .yunshutel{
    padding-top: 5px;
}