body {
    font-size: 12px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    background: #fff;
}

.toparea{ width:1003px; height:390px; overflow:hidden; background:#e4f8c9;  position:relative; z-index:3;}
.dynamic{ float:left; width:263px; height:390px; overflow:hidden; background:#06A481; padding:0px 0 0 0; position:relative; z-index:2;}
.dynamic li,.dynamic li a{ width:263px; height:28px; line-height:28px; overflow:hidden; float:left; cursor:pointer; text-decoration:none;}
.dynamic li a:hover{ color:#fff; text-decoration:none;}
.dynamic span{ float:left;}
.dynamic .cate{ width:30px; height:20px; margin:4px 6px 4px 6px; line-height:20px; text-align:center;}
.dynamic .tit{ width:140px; margin-right:7px; z-index: 9999;}
.dynamic .date,.dynamic .price{ width:70px; overflow:hidden;}
.dynamic .price{ color:#f00;}
.dynamic .gy .cate{ color:#009237;}
.dynamic .qg .cate{ color:#f47912;}
.dynamic .urgent .cate{background:url(images/bgs.png) no-repeat -356px -72px; color:#fff; line-height:20px;}
.dynamic .urgent .tit,.dynamic .urgent .price,.dynamic .urgent .date,.dynamic .new .cate,.dynamic .new .tit{ color:#f00;}
.dynamic li a:hover .cate,.dynamic li a:hover .price,.dynamic .urgent a:hover .tit,.dynamic .urgent a:hover .price,.dynamic .urgent a:hover .date,.dynamic .new a:hover .tit{ color:#fff;}
.dynamic .new{ background:#cce9a4; position:relative; color:#f00; z-index:1;}
.dynamic .new .icon{ background:url(images/bgs.png) no-repeat -397px -72px; position:absolute; right:5px; top:5px; width:30px; height:16px; display:inline-block;}

.banner{ float:left; width:740px; height:390px; overflow:hidden;position:relative;}
.slides{position:relative;z-index:1;}
.slides li{height:261px;}
.slides li a{ display:block; width:493px; height:261px;}





.floor-box3 dl:hover{}

.mt20{ margin-top:20px;}
.graybg{ background:#f5f5f5;}


.white{ color:#fff;}
.grey{color:#8a8a8a;}
.font14{ font-size: 14px;}
.orange{ color:#f47912;}
.FontScroll{ width:70px; height: 64px; float:left;line-height:32px;overflow:hidden;}
.FontScroll ul{ width:100%; height: 100%; float:left; text-align: center;}
.FontScroll ul li{ width:100%; height: 32px; float:left;}


.itemcon{
    width:263px ;height: 80px;margin-top: 6px;padding-top: 10px;padding-left: 15px;
}
.itemcon:hover{
    background: #009237;
}
.itemcon h1{

}
.itemcon h1 a{
    color: #FFffff;
    font-size: 16px;
    font-weight: bold;

}
.itemcon h1 a:hover{
    list-style: none;
}
.itemcon ul{
    width: 250px;
    height: 50px;

}
.itemcon ul li{
    float: left;
    width: 60px;
    height: 25px;
}

.itemcon ul li a{
    color: #ffffff;
}
.itemcon ul li a:hover{
    color: #000000;
}

#wrapper2{
    margin: 0 auto;
    width: 1001px;
}
#wrapper2 .linebox{
    width: 1001px;
    height: 650px;
    margin-top: 15px;

}

#wrapper2 .linebox .newstopbar{
    width: 1001px;
    height: 41px;
    line-height: 41px;
    background: url("images/malltop.jpg") no-repeat left;
    padding-left: 25px;
}
#wrapper2 .linebox .newstopbar li{
    float: left;
}
#wrapper2 .linebox .newstopbar li a{
    color: #ffffff;
    font-size: 14px;
    padding-left: 15px;

}
#wrapper2 .linebox .newstopbar li a:hover{
    color:#feef03 ;
}

.white_{ color:#FFFFFF; font-family:Arial; font-size:20px;}


#wrapper2 .linebox .mallpic{
    width: 1001px;
    height: 600px;
    background: #fff;
    margin-top: 9px;

}
#wrapper2 .linebox .mallpic dl{
    width:135px ;
    height: 182px;
    float: left;
    margin-top: 18px;
    background: #EEF2E8;
    margin-left: 8px;
}
#wrapper2 .linebox .mallpic dt{
    height: 30px;
    line-height: 30px;
    margin: 0;
}
#wrapper2 .linebox .mallpic dd{
    margin: 0;
    width: 132px;
    height: 132px;
    border: 1px solid #b6e1af;
}
#wrapper2 .linebox .mallpic dd img{
    display: block;
    width: 132px;
    height: 132px;
}
#wrapper2 .linebox .mallpic dd a{
    display: block;
    width: 132px;
    height: 132px;

}

#wrapper2 .linebox .mallpic span{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
#wrapper2 .linebox .mallpic a:hover{
    color:#268C0C ;
}