body {
    font-size: 12px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    background: #fff;
}

.itemcon{
    width:263px ;height: 80px;margin-top: 6px;padding-top: 10px;padding-left: 15px;
}
.itemcon:hover{
    background: #009237;
}
.itemcon h1{

}
.itemcon h1 a{
    color: #FFffff;
    font-size: 16px;
    font-weight: bold;

}
.itemcon h1 a:hover{
    list-style: none;
}
.itemcon ul{
    width: 250px;
    height: 50px;

}
.itemcon ul li{
    float: left;
    width: 60px;
    height: 25px;
}

.itemcon ul li a{
    color: #ffffff;
}
.itemcon ul li a:hover{
    color: #000000;
}

#wrapper2{
    margin: 0 auto;
    width: 1001px;
}
#wrapper2 .linebox{
    width: 1001px;
    height: 450px;
    margin-top: 15px;

}

#wrapper2 .linebox .newstopbar{
    width: 1001px;
    height: 41px;
    line-height: 41px;
    background: url("images/malltop.jpg") no-repeat;
    padding-left: 25px;
}
#wrapper2 .linebox .newstopbar li{
    float: left;
}
#wrapper2 .linebox .newstopbar li a{
    color: #ffffff;
    font-size: 14px;
    padding-left: 15px;

}
#wrapper2 .linebox .newstopbar li a:hover{
    color:#feef03 ;
}

.white_{ color:#FFFFFF; font-family:Arial; font-size:20px;}


#wrapper2 .linebox .mallpic{
    width: 1001px;
    height: 400px;
    background: #fff;
    margin-top: 2px;

}
#wrapper2 .linebox .mallpic dl{
    width: 185px;
    height: 180px;
    float: left;
    margin-top: 20px;

    margin-left: 13px;
}
#wrapper2 .linebox .mallpic dt{
    height: 30px;
    width: 187px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    background: #EEF2E8;
    text-align: center;
    margin-top:2px;

}
#wrapper2 .linebox .mallpic dt a{

}
#wrapper2 .linebox .mallpic dd{
    margin: 0;
    border: 1px solid #b6e1af;
}
#wrapper2 .linebox .mallpic span{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
#wrapper2 .linebox .mallpic a:hover{
    color:#268C0C ;
}