{template 'header'}

<div class="carticle_content">
	<div class="carticle_item">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">行业新闻</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="carticle_item mar_l">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=1516">政策法规</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=1516">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="carticle_item mar_l">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">技术创新</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="carticle_item">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">市场行情</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="carticle_item mar_l">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">招标信息</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="carticle_item mar_l">
		<h2 class="carticle_item_head"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">展会信息</a><span class="gright mar_r"><a href="{$MODULE[$moduleid][linkurl]}list.php?catid=65">更多&gt;&gt;</a></span></h2>

		<div class="carticle_item_info">
			<!--{php $tags=tag("moduleid=21&catid=65&length=30&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=1&template=null");}-->
			{loop $tags $i $t}

			<div class="ca-row">
				<div class="ca-span">
					<a href="{$t[linkurl]}"><img class="ca-img" src="{$t[thumb]}" alt="{$t[title]}" width="95" height="75"> </a>
				</div>
				<div class="ca-desc ca-span">
					<h3 class="ca-title"><a href="{$t[linkurl]}" style="font-size: 14px;color: green;">{$t[title]}</a></h3>
					<div class="ca-summary">{dsubstr($t[introduce], 56, '...')}</div>
				</div>
			</div>
			{/loop}

			<ul style="margin-top: 15px;">
				<!--{php $tags=tag("moduleid=21&catid=65&length=50&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=15&template=null");}-->
				{loop $tags $i $t}
				{if $i>0}
				<li><span class="gright">{timetodate($t[addtime], $datetype)}</span><a href="{$t[linkurl]}">{$t[title]}</a></li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>

</div>

{template 'footer'}