{template 'header'}


<div id="wrapper" style="margin-top: 10px;">
  <div class="subnav" style="margin-bottom: 10px;">
    <div class="keyword1"></div>
    <div class="keyword2"></div>
    当前位置:<a href="{$MODULE[1][linkurl]}">花木首页</a> &gt;  <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &gt; {cat_pos($CAT, ' &raquo; ')}</div>

  <div class="info_list_common w720 gleft">
    <div class="info_summary">
      <div class="info_summary_left gleft">
        <div class="info_summary_tit">

          <h1 class="span_tit">求购800秋枫&nbsp;&nbsp;</h1>

        </div>
        <div class="info_summary_cnt">
          <ul>
            <li style="height:auto;">
              <span>规格 :</span>
              <span class="guige_list">
                                                                                                                    高度:350厘米,
                                                            米径:15厘米,
                                                            冠幅:130厘米,
                                                            采购量: 800 棵
                                                        </span>
            </li>
            <li><span>分类 : </span> 秋枫</li>
            <li><span>地区 :</span> 福建</li>
            <li><span>联系 : </span>章强</li>
            <!--<li><span>Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q  :</span>1729289456</li>-->
            <li><span>发布时间 :</span> 2017-09-15</li>
            <li style="height:auto;">
              <span>备注：</span>
              <div style="width:360px;">
                <div>
                  15袋苗，小骨架，四百以上的勿扰                            </div>
              </div></li>
            <li class="info_summary_bj" style="height:33px;">报价还剩<span class="increat_time">1</span>天</li>
          </ul>
        </div>
      </div>
      <div class="info_summary_right gright">
        <a href="{DT_SKIN}images/default_supreq_view.jpg" title="点击看大图" target="_blank"><img src="{DT_SKIN}images/default_supreq_view.jpg" style="width:200px; height:160px;" alt=""></a>
        <p>共被查看：217次</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="quote">
      <div class="quote_tit">
        <h3> 报价 <span class="spa"> <em class="red">*</em> 为必填项 </span> </h3>
      </div>
      <div class="price_car">
        <p>您的报价均为上车价</p>
      </div>
      <div class="quote_cnt">
        <dl class="clearfix">
          <dt class="gleft"> 单价<em class="red">*</em> </dt>
          <dd class="gleft"> <span class="down_menu ">
                      <input type="text" name="price">
                      </span> 元
          </dd>
          <div class="clear"></div>
        </dl>
        <dl class="clearfix">
          <dt class="gleft"> 可供量<em class="red">*</em> </dt>
          <dd class="gleft"> <span class="down_menu ">
          <input type="text" name="num">
          </span> 棵 </dd>
          <div class="clear"></div>
        </dl>
        <dl class="clearfix">
          <dt class="gleft"> 备货时间<em class="red">*</em> </dt>
          <dd class="gleft"> <span class="down_menu ">
          <input type="text" name="stock_up_time">
          </span> 天 </dd>
          <div class="clear"></div>
        </dl>
        <dl class="clearfix">
          <dt class="gleft">可提供发票类型</dt>
          <dd class="gleft radio">
            <label><input type="radio" name="invoice_type" value="1" checked="checked">&nbsp;普通发票</label>
          </dd>
          <dd class="gleft radio">
            <label><input type="radio" name="invoice_type" value="2">&nbsp;增值税发票</label>
          </dd>
          <dd class="gleft radio">
            <label><input type="radio" name="invoice_type" value="0">&nbsp;不能提供发票</label>
          </dd>
          <div class="clear"></div>
        </dl>
        <dl class="clearfix">
          <dt class="gleft">补充说明</dt>
          <dd class="gleft">
            <textarea class="text_box" name="description" rows="5" cols="30"></textarea>
          </dd>
          <div class="clear"></div>
        </dl>
      </div>
    </div>
    <div class="form_bt">
      <input type="submit" value="提交报价" class="buy_btn">
    </div>
    <div class="clear"></div>
    <div class="more_items">

      <h3 class="gleft">
        <span>上一条:</span>
        <a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170915&amp;require_id=12369">成都周边3公分枫香求购</a>
      </h3>
      <h3 class="gright">
        <span>下一条:</span>
        <a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170915&amp;require_id=12371">项目采购，详情见清单</a>
      </h3>
    </div>
  </div>


  <div class="w265" style="float:right;">
    <div class="paihang">
      <div class="Store_info">
        <p>采购商信息</p>
      </div>
      <div class="store_info_cnt">
        <ul>
          <li>等级：普通会员</li>
          <li>
            <p>信用：</p>
            <img src="{DT_SKIN}images/heart_1.png" alt="0" title="0">
            <div style="clear:both"></div>
          </li>
          <li>地区：</li>
          <li>
            <p>认证：</p>
            <a rel="nofollow" href="http://www.huamu.com/aboutus/custom_cert.html" target="_blank" title="通过手机真实性验证">
              <div class="cert_item cert_item_mobile"></div>
            </a>
            <a rel="nofollow" href="http://www.huamu.com/aboutus/custom_cert.html" target="_blank" title="支持花木网担保交易
">
              <div class="cert_item cert_item_assure"></div>
            </a>
            <div style="clear:both"></div>
          </li>
          <li><span class="ing_2">升级<a class="ing_3" href="http://www.huamu.com/index.php?app=apply&amp;act=upgrade" style="color:#fff;">金牌会员</a>直接查看电话联系采购商</span></li>
        </ul>
      </div>
      <div class="approve">
        <img src="{DT_SKIN}images/Store_info.png">
      </div>



    </div>



    <div class="gsr_recom_hot">
      <h2><a>相关求购信息</a></h2>
      <ul class="txt">
        <li><span>2017-09-15</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170915&amp;require_id=12370" target="_blank">求购800秋枫</a></li>
        <li><span>2017-05-31</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170531&amp;require_id=11518" target="_blank">工程采购秋枫及其他苗...</a></li>
        <li><span>2017-04-15</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170415&amp;require_id=11002" target="_blank">秋枫</a></li>
        <li><span>2017-03-27</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20170327&amp;require_id=10670" target="_blank">柳州工程采购秋枫及其...</a></li>
        <li><span>2016-12-26</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20161225&amp;require_id=9465" target="_blank">求购秋枫</a></li>
        <li><span>2016-12-26</span><a href="http://www.huamu.com/index.php?app=requirement&amp;act=view&amp;pts=20161225&amp;require_id=9464" target="_blank">求购秋枫</a></li>
      </ul>
    </div>





  </div>

</div>
<div class="b10"></div>

<script type="text/javascript">
    $(function () {

        $('.close_btn_req').click(function () {
            $('.requirement_info_pop').hide();
            $('.requirement_info_pop .cofirm_sub_block').hide();
        });

        $('.factor-list>li').each(function () {
            if ($(this).hasClass('chosed')) {
                $(this).prev('li').find('a').css({
                    border: '0'
                });
            }
        });

    });


    //隔行变色

    // $(".requirement_info_tab tr").each(//隔行加背景色
    //            function () {
    //                if ($(".requirement_info_tab tr").index(this) % 2 == 0) {
    //                    $(this).css("background", "#f9f9f9");
    //
    //                }
    //            }
    //    );
    //
    //    $(".search_list li>a").on("click", function () {
    //        $(this).parent("li").siblings('li').removeClass("on");
    //        $(this).parent("li").addClass("on");
    ////              return false;
    //    });
    $("#more-trd-cates_area").click(function () {
        if ($(this).text() == "更多") {
            $("#area_list ").height("auto");
            $(this).text("收起");
        }
        else if ($(this).text() == "收起") {
            $("#area_list ").height(60);
            $(this).text("更多");

        }
    });
    $("#more-trd-cates_catid").click(function () {
        if ($(this).text() == "更多") {
            $("#cat_list").height("auto");
            $(this).text("收起");
        }
        else if ($(this).text() == "收起") {
            $("#cat_list ").height(30);
            $(this).text("更多");

        }
    });


</script>



{template 'footer'}