{php $CSS = array('index2');}
{template 'header'}


<div id="wrapper">
	<div class="toparea clear" id="">
		<ul class="dynamic" >
			<div class="itemcon" >


				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==4 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}

			</div>
			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==5 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>

			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==6 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>

			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==7 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>
		</ul>


		<div class="banner">
			{ad(14)}
			<ul class="slides">
				{loop $ad $i $t}
				<li><a href="{$t[image_url]}" target="_blank"><img src="{$t[image_src]}"/></a></li>
				{/loop}
			</ul>
		</div>

	</div>



	<div id="FontScroll">


		<!-- 1f开始 -->
		<div class="linebox section" id="f01"  srcslide="1">

			<div class="huamushop">
				<div class="shoptop" >
					<div class="left">
						<h1>1F <a href="{$MODULE[16][linkurl]}"><span >花木商城</span></a></h1>

					</div>
					<div class="right" style="width: 820px;height: 43px;float: right;">
						<ul class="doorlist">
							{php $sub = get_maincat(0, 16, 1);}
							{loop $sub $j $s}{if $j < 7}
							<li><a href="{cat_url($s[catid])}" target="_blank">{$s[catname]}</a></li>{/if}
							{/loop}
						</ul>
					</div>
				</div>
				<div class="shopcenter" style="width: 1001px;height:763px;background: #fff; " >
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==4 }

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}




							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=4&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==5 }

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}




							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=5&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==4}

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}




							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=4&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==4 }

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}




							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=4&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==4 }

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}



							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=4&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
					<div class="w_cate_list gleft">


						{php $mid = 16;}
						{php $child = get_maincat(0, $mid, 1);}

						{loop $child $i $c}

						{if $i<8 && $c[child]}
						{php $sub = get_maincat($c[catid], $mid, 1);}
						{if $c[catid]==4 }

						<h3>
							<span><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">更多品种&gt;&gt;</a></span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a>
						</h3>


						<div class="w_fenlei_div">
							<div class="w_subcate_list">
								{loop $sub $j $s}
								{if $j<18}<a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a>{/if}
								{/loop}
							</div>


							{/if}

							{/if}
							{/loop}




							<ul class="w_goods_list">

								<!--{php $tags=tag("moduleid=16&catid=4&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=4&template=null");}-->

								{loop $tags $i $t}
								<li>
                                                <span class="phone-zan">
                                                                                                </span>
									<a href="{$t[linkurl]}" target="_blank">
										<img src="{$t[thumb]}" width="100" height="75" alt="{$t[title]}">
									</a>
									<div>
										<a href="{$t[linkurl]}" style="color:#555;" title="{$t[title]}" target="_blank">{$t[title]}</a>
									</div>
								</li>
								{/loop}

							</ul>



						</div>
					</div>
				</div>


				<div class="shopbottom"></div>
			</div>

		</div>
		<!-- 1f结束 -->





		<!-- 2f开始 -->
		<div class="linebox  section" id="f02" srcslide="2">

			<div class="huamushop" >
				<div class="shoptop" >
					<div class="left" >
						<h1 >2F <a href=""><span >求购信息</span></a></h1>

					</div>
					<div class="right"></div>
				</div>
				<div class="shopcenter" style="width: 970px;height:733px;margin: 15px auto;" >
					<div class="Purchase">

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									朴树</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">600 </b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">12 </b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">250 </b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">340</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>河南</li>
							</ul>

							<ul class="distance_you">
								<li>189****6963</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									七叶树</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">400 </b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">12</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">250 </b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">320</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>河南</li>
							</ul>

							<ul class="distance_you">
								<li>189****6963</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									白皮松</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">500</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">1300</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>河南</li>
							</ul>

							<ul class="distance_you">
								<li>189****6963</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									乌桕</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">100 </b>厘米</li>
								<li class="Product_bg">米径:<b class="grn"> 150</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn"> 15</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">4 </b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>	浙江</li>
							</ul>

							<ul class="distance_you">
								<li>135****0112</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									油麻藤</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">900 </b>厘米</li>

								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">11 </b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>湖南</li>
							</ul>

							<ul class="distance_you">
								<li>186****1647</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									凤凰木</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">400 </b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">10</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">10</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">120 </b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>

						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>
						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>
						<div class="Purchase_cnt">
							<ul class="Species_Name fl">
								<li class="font_size"><a href="/qiugou/20170814_12058_8363.html" style="color:#07a517;">
									碧桃</a></li>
								<div style="clear:both"></div>
							</ul>
							<ul class="Product_size fl">
								<li class="Product_bg">高度:<b class="grn">250</b>厘米</li>
								<li class="Product_bg">米径:<b class="grn">8</b>厘米</li>
								<li class="Product_bg">地径:<b class="grn">7</b>厘米</li>
								<li class="Product_bg">冠幅:<b class="grn">200</b>厘米</li>
								<div style="clear:both"></div>
							</ul>
							<ul class="distance_you">
								<li><b class="grn">10000</b>棵</li>
							</ul>

							<ul class="distance_you">
								<li>江苏</li>
							</ul>

							<ul class="distance_you">
								<li>137****7064</li>
							</ul>



							<ul class="Product_Price fl" style="cursor:pointer;">
								<li class="sub_baojia" data-id="12058" data-spec-id="8363" data-cate-name="碧桃" data-region-name="江苏" data-specs="高度:250厘米&nbsp;米径:8厘米&nbsp;地径:7厘米&nbsp;冠幅:200厘米&nbsp;"><a data-url="$site_url/index.php?app=requirement&amp;act=view&amp;pts=$requirement.pts&amp;require_id=$requirement.require_id}&amp;respec_id={$rspec.rspec_id" target="_blank">报价</a></li>
							</ul>
							<div style="clear:both"></div>
						</div>




					</div>
				</div>


				<div class="qiugoubottom" style="">

				</div>
			</div>
		</div>
		<!-- 2f结束 -->


		<!-- 3f开始 -->
		<div class="linebox section" id="f03" srcslide="3">
			<div class="huamushop" style="height: 340px;">
				<div class="shoptop" >
					<div class="left" >
						<h1 >3F <a href=""><span >花盆容器</span></a></h1>
					</div>
					<div class="right"></div>
				</div>
				<div class="shopcenter" style="width: 1001px;height:263px;background: #fff; " >
					<div class="wrappic">
						<div id="slide">
							<ul class="slideul1">
								<li class="slideli1">
									<ul class="slideul2">
										<li><a href=""><img src="{DT_SKIN}images/1.jpg"/><span>花盆容器</span></a></li>
										<li><a href=""><img src="{DT_SKIN}images/2.jpg"/><span>花盆容器</span></a></li>
										<li><a href=""><img src="{DT_SKIN}images/3.jpg"/><span>花盆容器</span></a></li>
										<li><a href=""><img src="{DT_SKIN}images/4.jpg"/><span>花盆容器</span></a></li>
										<li><a href=""><img src="{DT_SKIN}images/5.jpg"/><span>花盆容器</span></a></li>

									</ul>
								<li class="slideli2"></li>
							</ul>
						</div>
						<script type="text/javascript" src="{DT_SKIN}images/slidercontinual.js"></script>
					</div>
				</div>


				<div class="shopbottom" ></div>
			</div>
		</div>
		<!-- 3f结束 -->


		<!-- 4f开始 -->
		<div class="linebox graybg section" id="f04"  srcslide="4">

			<div class="huamushop" style="height: 530px;">
				<div class="shoptop" >
					<div class="left" >
						<h1 >4F <a href=""><span >花木运输</span></a></h1>

					</div>
					<div class="right"></div>
				</div>
				<div class="shopcenter" style="width: 1001px;height:463px;background: #fff; " >
					<ul id="huamuyunshu">
						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>


						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>


						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>

						<a href="##">
							<li>
								<div class="yunshuren">花木运输单位名称</div>
								<div class="yunshutel">电话: 13063121318</div>
								<div class="yunshutel">联系人: 王亚金</div>
							</li>
						</a>
					</ul>
				</div>


				<div class="shopbottom" ></div>
			</div>

		</div>
		<!-- 4f结束 -->



		<!-- 5f开始 -->
		<div class="linebox section" id="f05" srcslide="5">
			<div class="huamushop" style="height: 330px;">
				<div class="shoptop" >
					<div class="left" >
						<h1 >5F <a href=""><span >待定板块</span></a></h1>

					</div>
					<div class="right"></div>
				</div>
				<div class="shopcenter" style="width: 1001px;height:263px;background: #fff; " >

				</div>


				<div class="shopbottom" ></div>
			</div>

		</div>
		<!-- 5f结束 -->



		<!-- 6f开始 -->
		<div class="linebox graybg section" id="f06" srcslide="6">
			<div class="huamushop" style="height: 630px;">
				<div class="shoptop" >
					<div class="left" >
						<h1 >6F <a href="{$MODULE[21][linkurl]}"><span>花木资讯</span></a></h1>

					</div>
					<div class="right" style="width: 820px;height: 43px;float: right;">
						<ul class="doorlist">
							{php $sub = get_maincat(0, 21, 1);}
							{loop $sub $j $s}{if $j < 7}
							<li><a href="{cat_url($s[catid])}" target="_blank">{$s[catname]}</a></li>{/if}
							{/loop}
						</ul>
					</div>
				</div>
				<div id="huamuzixun" style="width: 1001px;height:563px;background: #fff; " >
					<ul>
						<h3>
							<a href="{$MODULE[21][linkurl]}" target="_blank">最新资讯</a>
							<span><a href="{$MODULE[21][linkurl]}" target="_blank">更多信息&gt;&gt;</a></span>
						</h3>

						<div class="newstop">

							<!--{php $tags=tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=".$DT[page_rank]."&template=null");}-->
							{loop $tags $i $t}
							{if $i<1}
							<a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="" width="125" height="95"></a>
							<dl>
								<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
								<dd>{dsubstr($t[introduce], 140, '...')}</dd>
							</dl>
							{/if}
							{/loop}



							<!--{php $tags=tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=12&template=null");}-->
								<ul>
									{loop $tags $t}
									{if $i>0}
									<li><a href="{$t[linkurl]}">{$t[title]}</a></li>
									{/if}
									{/loop}
								</ul>




						</div>
					</ul>

					<ul>
						<h3>
							<a href="{$MODULE[21][linkurl]}" target="_blank">资讯排行</a>
							<span><a href="{$MODULE[21][linkurl]}" target="_blank">更多信息&gt;&gt;</a></span>
						</h3>

						<div class="newstop">

							<!--{php $tags=tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=".$DT[page_rank]."&template=null");}-->
							{loop $tags $i $t}
							{if $i<1}
							<a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="" width="125" height="95"></a>
							<dl>
								<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
								<dd>{dsubstr($t[introduce], 140, '...')}</dd>
							</dl>
							{/if}
							{/loop}



							<!--{php $tags=tag("moduleid=21&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=hits desc&pagesize=12&template=null");}-->
							<ul>
								{loop $tags $t}
								{if $i>0}
								<li><a href="{$t[linkurl]}">{$t[title]}</a></li>
								{/if}
								{/loop}
							</ul>




						</div>
					</ul>
				</div>


				<div class="shopbottom" ></div>
			</div>

		</div>
		<!-- 6f结束 -->







	</div></div>
<div class="b10"></div>
<script src="{DT_SKIN}js/jquery.nav.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        // initiate page scroller plugin
        $('body').pageScroller({
            navigation: '#subnav'
        });

    });
</script>
<script type="text/javascript" charset="utf-8">
    jQuery(".notice").slide({});
    jQuery(".topslides").slide({mainCell:".bd ul",autoPage:true,effect:"leftLoop",opp:true,autoPlay:true,vis:4});
    jQuery(".area_tab,.home_tab_r,.home_tab_l").slide({mainCell:".bd",delayTime:0});
    jQuery(".iprice-content").slide({mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:13});
    $(function(){
        $(window).scroll(function(){
            height = $(window).scrollTop();
            if(height > 200){
                $('#submenu').fadeIn();
            }else{
                $('#submenu').fadeOut();
            };
        });
    });
</script>






{template 'footer'}