{php $CSS = array('index');}
{template 'header'}

<div id="wrapper2">
	<div class="toparea clear" id="">
		<ul class="dynamic" >
			<div class="itemcon" >


				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==4 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}

			</div>
			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==5 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>

			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==6 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>

			<div class="itemcon" >
				{php $mid = 16;}
				{php $child = get_maincat(0, $mid, 1);}

				{loop $child $i $c}

				{if $i<8 && $c[child]}
				{php $sub = get_maincat($c[catid], $mid, 1);}
				{if $c[catid]==7 }


				<h1><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}">{set_style($c[catname], $c[style])}</a></h1>
				<ul>
					{loop $sub $j $s}
					{if $j<8}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
				</ul>
				{/if}

				{/if}
				{/loop}
			</div>
		</ul>


		<div class="banner">
			{ad(14)}
			<ul class="slides">
				{loop $ad $i $t}
				<li><a href="{$t[image_url]}" target="_blank"><img src="{$t[image_src]}"/></a></li>
				{/loop}
			</ul>
		</div>

	</div>



	<div id="FontScroll">


		<!-- 1f开始 -->
		<div class="linebox section" id="f01"  srcslide="1">

			<div class="newstopbar">
				<ul>




					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==4 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">1F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}

				</ul>
			</div>

			{if $MOD[page_inew]}
			<div class="mallpic">

					<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

					{loop $tags $i $t}
					<dl>
						<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
						<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
						<span>￥{$t[price]}</span>
					</dl>
					{/loop}


			</div>
			{/if}
		</div>
		<!-- 1f结束 -->





		<!-- 2f开始 -->
		<div class="linebox graybg section" id="f02" srcslide="2">
			<div class="newstopbar">
				<ul>




					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==5 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">2F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}

				</ul>
			</div>

			{if $MOD[page_inew]}
			<div class="mallpic">
				<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

				{loop $tags $i $t}
				<dl>
					<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
					<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
					<span>￥{$t[price]}</span>
				</dl>
				{/loop}
			</div>
			{/if}
		</div>
		<!-- 2f结束 -->


		<!-- 3f开始 -->
		<div class="linebox section" id="f03" srcslide="3">
			<div class="newstopbar">
				<ul>

					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==6 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">3F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}
				</ul>
			</div>

			{if $MOD[page_inew]}
			<div class="mallpic">
				<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

				{loop $tags $i $t}
				<dl>
					<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
					<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
					<span>￥{$t[price]}</span>
				</dl>
				{/loop}
			</div>
			{/if}

		</div>
		<!-- 3f结束 -->


		<!-- 4f开始 -->
		<div class="linebox graybg section" id="f04"  srcslide="4">
			<div class="newstopbar">
				<ul>

					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==7 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">4F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}
				</ul>
			</div>

			{if $MOD[page_inew]}
			<div class="mallpic">
				<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

				{loop $tags $i $t}
				<dl>
					<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
					<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
					<span>￥{$t[price]}</span>
				</dl>
				{/loop}
			</div>
			{/if}

		</div>
		<!-- 4f结束 -->



		<!-- 5f开始 -->
		<div class="linebox section" id="f05" srcslide="5">
			<div class="newstopbar">
				<ul>

					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==8 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">5F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}
				</ul>
			</div>
			{if $MOD[page_inew]}
			<div class="mallpic">
				<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

				{loop $tags $i $t}
				<dl>
					<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
					<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
					<span>￥{$t[price]}</span>
				</dl>
				{/loop}
			</div>
			{/if}
		</div>
		<!-- 5f结束 -->



		<!-- 6f开始 -->
		<div class="linebox graybg section" id="f06" srcslide="6">
			<div class="newstopbar">
				<ul>

					{php $mid = $moduleid;}
					{php $child = get_maincat(0, $mid, 1);}

					{loop $child $i $c}

					{if $i<10 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					{if $c[catid]==9 }
					<ul>

						<li style="margin-right:25px;">
							<span class="white_">6F </span>
							<a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank" style="color:#feef03; font-size:18px;">{set_style($c[catname], $c[style])}</a>
						</li>
						{loop $sub $j $s}
						{if $j<15}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
						{/loop}
					</ul>
					{/if}

					{/if}
					{/loop}
				</ul>
			</div>

			{if $MOD[page_inew]}
			<div class="mallpic">
				<!--{php $tags=tag("moduleid=16&catid=4&length=22&child=1&condition=status=3 and addtime>$today_endtime-30*86400&areaid=$cityid&order=addtime desc&pagesize=21&template=null");}-->

				{loop $tags $i $t}
				<dl>
					<dd><a href="{$t[linkurl]}"><img src="{$t[thumb]}" alt="{$t[title]}" width="132" height="132"></a></dd>
					<dt><a href="{$t[linkurl]}">{$t[title]}</a></dt>
					<span>￥{$t[price]}</span>
				</dl>
				{/loop}
			</div>
			{/if}
		</div>
		<!-- 6f结束 -->







	</div></div>
<div class="b10"></div>

{template 'footer'}