{template 'header'}
<div class="subnav" style="margin-top: 15px;">
  <div class="keyword1"></div>
  <div class="keyword2"></div>
  当前位置: <a href="{$MODULE[1][linkurl]}">花木首页</a> &gt; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &gt; {cat_pos($CAT, ' &raquo; ')}</div>
<div class="transition_page">
  <div class="goods_detail fl">
    <div class="proc_to right_main">
      <div class="ware_info">
        <div id="preview" class="ware_pic">
          <div id="spec-n1" class="big_pic">
            <div class="jqzoom goods_img fl">
            
             {php $da= str_replace('.thumb.'.file_ext($thumbs[0]), '', $thumbs[0]);}
               <img src="{$da}?x-oss-process=image/resize,m_fill,h_300,w_300" width="300" height="300" jqimg="{$da}?x-oss-process=image/resize,w_2000,/watermark,image_ZGF0YS91cGxvYWQvY29tbW9uL3dhdGVybWFyay93bV9jb2xvci5wbmc_eC1vc3MtcHJvY2Vzcz1pbWFnZS9yZXNpemUsUF8zMA==" alt="">
			</div>
          </div>
          <div id="spec-n5" class="bottom_btn">
            <div id="spec_left" class="left_btn"></div>
            <div id="spec-list" class="ware_box">
              <ul class="list-h" style="overflow: hidden; width: 9999px;">
              {loop $thumbs $k $v}
              {php $big= str_replace('.thumb.'.file_ext($v), '', $v);}
                <li bigimg="{$big}?x-oss-process=image/resize,w_2000,/watermark,image_ZGF0YS91cGxvYWQvY29tbW9uL3dhdGVybWFyay93bV9jb2xvci5wbmc_eC1vc3MtcHJvY2Vzcz1pbWFnZS9yZXNpemUsUF8zMA==" class="ware_pic_hover">
                <img src="{$big}?x-oss-process=image/resize,m_fill,h_300,w_300" width="55" height="55" alt="{$title}"></li>
                {/loop}
                </ul>
            </div>
            <div id="spec_right" class="right_btn"></div>
          </div>
          <div class="ware_notice"><span>该商品共被查看：{$hits}次</span></div>
        </div>
        <div class="ware_text">
          <ul class="rate">
            <li class="clear"> <span class="property_name sp">商品：</span>
              <h1>{$title}</h1>
            </li>
            <li class="clear hm_promo_price" style="line-height:20px"> 
           <table width="100%" cellpadding="6" cellspacing="0" style="background-color:#EEEEEE">
				<tr>
				<td>起批</td>
				<td>{$a1}-{$a2}{$unit}</td>
				{if $a3}
				<td>{$a2+1}-{$a3}{$unit}</td>
				<td>{$a3}{$unit}以上</td>
				{else}
				<td>{$a2+1}{$unit}以上</td>
				{/if}
				</tr>
				<tr>
				<td>价格</td>
				<td class="f_price">{$DT[money_sign]}<span class="px13">{$p1}</span></td>
				{if $a3}
				<td class="f_price">{$DT[money_sign]}<span class="px13">{$p2}</span></td>
				<td class="f_price">{$DT[money_sign]}<span class="px13">{$p3}</span></td>
				{else}
				<td class="f_price">{$DT[money_sign]}<span class="px13">{$p2}</span></td>
				{/if}
				</tr>
				</table>
                
            </li>
            <li class="clear"> <span class="property_name">地区：</span>{area_pos($areaid, '')}</li>
            <li class="clear"><span class="property_name">分类：</span>{get_fenlei($CAT, ' &nbsp; ')}</li>
            <li class="clear"><span class="property_name">评价：</span>已有&nbsp;<span style="color:#F00">{$comments}</span>&nbsp;人评价</li>
            <!--<li class="clear"><span class="property_name">等级：</span><img src="/data/system/goods_grade_2.png"></li>-->
            <li class="clear"><span class="property_name">时间：</span>{$editdate}</li>
            <li class="clear"></li>
          </ul>
          <ul class="rate">
            <li class="clearfix">
              <ul class="goods_specification_list">
               <li>
                 {if $gaodu}
                   {php $range_gaodu=getbox_name('gaodu','mall')}
                     {loop $range_gaodu $key $v}
                         {if $key==$gaodu}
                         <a style="">高度:{$v}</a>
                         {/if}
                     {/loop}
                 {/if}    
                 {if $mijing}  &nbsp;
                   {php $range_mijing=getbox_name('mijing','mall')}
                     {loop $range_mijing $key $v}
                         {if $key==$mijing}
                         <a style="">米颈:{$v}</a>
                         {/if}
                     {/loop}
                 {/if}
                 {if $dijing}  &nbsp;
                  {php $range_dijing=getbox_name('dijing','mall')}
                     {loop $range_dijing $key $v}
                         {if $key==$dijing}
                         <a style="">地颈:{$v}</a>
                         {/if}
                     {/loop}
                {/if}
                 {if $guanfu}  &nbsp;
                  {php $range_guanfu=getbox_name('guanfu','mall')}
                     {loop $range_guanfu $key $v}
                         {if $key==$guanfu}
                         <a style="">冠幅:{$v}</a>
                         {/if}
                     {/loop}
                {/if}
                {if $shuxing}&nbsp;
                   {php $range_shuxing=getbox_name('shuxing','mall')}
                     {loop $range_shuxing $key $v}
                         {if $key==$shuxing}
                         <a style="">树形:{$v}</a>
                         {/if}
                     {/loop}
               {/if}
               </li>
              </ul>
            </li>
          </ul>
          <div class="sep_line"></div>
          {if $amount}
		   {if $status == 3}
          <div id="gdetail_sku" class="hm_key hm_key_sku">
            <div class="goods_info hm_skin">
              <dl class="hm_prop hm_amount clear goods_num">
                <dt class="property_name">数量:</dt>
                <dd> <span class="hm_stock"> 
                  <a href="javascript:void(0);" class="hm_reduce hm_iconfont hm_disable_reduce" onclick="Malter('-', {$a1}, {$amount});">-</a>
                  <input type="text" class="text width1" id="amount" onkeyup="Malter('', {$a1}, {$amount});" maxlength="8" value="{$a1}">
                  <a href="javascript:void(0);" class="hm_increase hm_iconfont" onclick="Malter('+', {$a1}, {$amount});">+</a> </span>
                  <div class="rest_stock">{$unit}</div>
                </dd>
                <dt class="property_name">库存 :</dt>
                <dd> （库存 <span class="stock" ectype="goods_stock">{$amount}</span>{$unit}） </dd>
              </dl>
            </div>
          </div>
          <ul class="ware_btn clear">
            <li class="btn_c3 buy_add_btn" title="加入购物车"><a onclick="AddCart();">加入购物车</a></li>
            <li class="btn_c2 buy_add_btn" title="立刻购买"><a onclick="BuyNow();">立即购买</a></li>
          </ul>
          {else}
          <ul class="ware_btn clear">
            <li class="btn_c2 buy_add_btn" title="该商品已下架"><a>该商品已下架</a></li>
           </ul>
          {/if}
          {else}
          <ul class="ware_btn clear">
            <li class="btn_c2 buy_add_btn" title="该商品库存不足"><a>该商品库存不足</a></li>
           </ul>
          {/if}
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
<script type="text/javascript">
var mallurl = '{$MOD[linkurl]}';
var mallid = {$itemid};
</script>
<script type="text/javascript" src="{DT_STATIC}file/script/mall.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/goodsinfo.js" charset="utf-8"></script> 
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.jqzoom.js" charset="utf-8"></script> 
<script type="text/javascript">
    var specs = new Array();
		specs.push(new spec(68485, '10', '', '','','', '', '', 1.00, '180000', '18万', '10000'));
		var specQty = 0;
	var specAttrQty = 1;
	var defSpec = 68485;
	var goodsspec = new goodsspec(specs, specAttrQty, specQty, defSpec);

	$(function(){
		$('.goods_desc_img').each(function() {
			$(this).attr("alt","红花醡浆草图片").removeAttr("title");
		});
		$(".jqzoom").jqueryzoom({
			xzoom:430,
			yzoom:300,
			offset:10,
			position:"right",
			preload:1,
			lens:1
		});

		$("#spec-list").children('ul.list-h').css({
			overflow:'hidden',
			width:'9999px'
		});
		$('#spec-list ul.list-h li:first').addClass('ware_pic_hover');
		$(document).on('click','#spec_left',function(){
			$('#spec-list>ul.list-h li:last').clone(true).prependTo('#spec-list>ul.list-h');
			$('#spec-list>ul.list-h li:last').remove();
		});
		$(document).on('click','#spec_right',function(){
			$('#spec-list>ul.list-h li:first').clone(true).appendTo('#spec-list>ul.list-h');
			$('#spec-list>ul.list-h li:first').remove();
		});

		$("#spec-list img").on("mouseover",function(){
			var src=$(this).attr("src");
			$("#spec-n1 img").eq(0).attr({
				src:src.replace("\/n5\/","\/n1\/"),
				jqimg:src.replace("\/n5\/","\/n0\/")
			});
		}).bind("mouseout",function(){
			$(this).css({

			});
		});
	});
</script>
<script>
  $(document).on('click','#spec_left',function(){
		$('#spec-list>ul.list-h li:last').clone(true).prependTo('#spec-list>ul.list-h');
		$('#spec-list>ul.list-h li:last').remove();
	});
	
	$(document).on('click','#spec_right',function(){
		$('#spec-list>ul.list-h li:first').clone(true).appendTo('#spec-list>ul.list-h');
		$('#spec-list>ul.list-h li:first').remove();
	});
</script> 
  <div class="shangjia_info fr"> <img src="{DT_SKIN}images/shangjia_info_8.jpg" alt="商家信息">
   {template 'newcom', 'chip'}
  </div>
  <div class="clear"></div>
  <div class="recomand">
    <div class="tit_bg">
      <h4>相关商品</h4>
    </div>
    <ul class="recomand_list">
    <!--{php $xiguan=tag("moduleid=$moduleid&condition=catid=".$catid." and status=3 and itemid!=".$itemid."$dtype&pagesize=6&template=null&debug=0")}-->
        {loop $xiguan $a $v}
          	<li> <a href="{$v[linkurl]}">
            <img src="{$v[thumb]}?x-oss-process=image/resize,m_fill,h_90,w_130" alt="{$v[title]}" width="130" height="90"></a>
        <p><a href="{$v[linkurl]}">{$v[title]}</a></p>
        <p><a rel="nofollow" href="{$v[linkurl]}">{$v[company]}</a> 
            {if $v[vip]}
            <img src="{DT_SKIN}image/vip_{$v[vip]}.gif" title="该商品由旗舰会员发布" align="absmiddle" style="margin-left:10px;">
            {/if}        
        </p>
        <p> <b>¥{$v[price]}</b> </p>
      </li>
      {/loop}
    </ul>
  </div>
  <div class="clear"></div>
  <div class="goods_main">
    <div class="goods_info_tit">
      <div class="tit_instru current" id="show1" onclick="showneirong()">商品详情</div>
      <div class="tit_eval" id="show2" onclick="showpinglun()">商品评论</div>
      <div class="tit_record" id="show3" onclick="showjilv()">销售记录</div>
      <div class="clear"></div>
    </div>
    <div class="goods_info_main">
      <div class="instru_main" style="display: block;" id="neirong">{$content}</div>
      <div class="eval_main" style="display: none;" id="pinglun">
        <div class="comments">
        <!--{php $pinglun=tag("table=mall_comment&condition=mallid=".$itemid." and seller_ctime!=''&order=seller_ctime desc&pagesize=40&template=null&debug=0");}-->
         {loop $pinglun $a $b}
         <dl class="comments_text">
            <dt> <span>{$b[buyer]} ({date("Y-m-d,H:i:s",$b[seller_ctime])})</span> </dt>
            <dd></dd>
            <div class="beat"> 评价:
            <img src="http://lgb.skrik.cn/file/image/star{$b[seller_star]}.gif"> 
            <br>
            {$b[seller_comment]}
            </div>
          </dl>
         {/loop}
        </div>
      </div>
      <div class="record_main" style="display: none;" id="jilv">
        <div class="saleslog">
          <table class="table_common" width="100%">
            <tbody>
              <tr class="bg2">
                <th>买家</th>
                <th>购买价</th>
                <th>购买数量</th>
                <th>购买时间</th>
                <th>评价</th>
              </tr>
             <!--{php $dingdan=tag("table=mall_order&condition=mallid=".$itemid." and mid=".$moduleid." and status=4&order=addtime desc&pagesize=40&template=null&debug=0");}-->
             {loop $dingdan $a $b}
              <tr>
                <td>{$b[buyer]}</td>
                <td>¥{$b[amount]}</td>
                <td>{$b[number]} <span class="fontColor5"><!--（高度:200厘米）--></span></td>
                <td>{date("Y-m-d",$b[addtime])}</td>
                <td>{if $b[seller_star]>0}<img src="http://lgb.skrik.cn/file/image/star{$b[seller_star]}.gif">{else}暂无{/if}</td>
              </tr>
              {/loop}
             </tbody>
          </table>
       </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
function showneirong(){
	$("#neirong").show();
	$("#pinglun").hide();
	$("#jilv").hide();
	$("#show1").addClass("current");
	$("#show2").removeClass("current");
	$("#show3").removeClass("current");
	}
function showpinglun(){
	$("#neirong").hide();
	$("#pinglun").show();
	$("#jilv").hide();
	$("#show2").addClass("current");
	$("#show1").removeClass("current");
	$("#show3").removeClass("current");
	}
	function showjilv(){
	$("#neirong").hide();
	$("#pinglun").hide();
	$("#jilv").show();
	$("#show3").addClass("current");
	$("#show1").removeClass("current");
	$("#show2").removeClass("current");
	}	
</script>
{template 'footer'}